.avatar-container {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.avatar {
  border-radius: 9999px;
  border: 1px solid grey;
  height: 55px;
  width: 55px;
  margin: 25px;
}
.avatar + strong {
  color: white;
}
