.pro-sidebar {
  position: absolute;
  height: fit-content;
  top: 100px;
}

small {
  opacity: 0.5;
  text-align: end;
}

.live {
  opacity: 1;
  color: red;
}

.pro-arrow {
  margin-left: -160px;
}
.pro-sidebar > .pro-sidebar-inner {
  background: none;
}
